.clear-button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 90%;
  height: 4rem;
  margin: 0rem auto 1rem;

  background-color: orange;
  color: #121212;
  font-size: 2.4rem;
  border-radius: 0.5rem;

  cursor: pointer;
}
